body{
background-image:url('https://preview.redd.it/0bb6dqsiab451.gif?s=b0c65596a54a30708da26669da6e79abf3be1680');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
min-height: 100%;
}
#container {
  background-color: rgba(0,0,0,0.24);
  border: 5px solid rgba(0,0,0,0.5);
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 15%;
  text-align: center;
}
p {
  color: white;
  font-size: 24px;
}
.button {
  background-color: rgba(0,0,0,0.54);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.54),0 17px 50px 0 rgba(0,0,0,0.49);
}
